.container h5{
    font-size: 35px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    margin-top: 20px;
}
.container h1{
     font-size: 70px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
margin: 30px 0px;
}