.top-bar {
  background-color: #1F1F1F;
  height: 48px;
}

.navbar {
  background-color: #ffffff;
  height: 88px;
  position: relative;
  padding: 0vw 10vw;
  border-bottom: 2px solid rgba(108, 108, 108, 0.686);
}

.navbar-logo h4 {
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.navbar-logo h4:hover {
  transform: scale(1.2);
}

.navbar-icons img {
  height: 24px;
  cursor: pointer;
   transition: transform 0.3s ease;
}

.navbar-icons img:hover {
  transform: scale(1.3);
 
}

.nav-icon {
  height: 22px;
  cursor: pointer;
}


@media (max-width: 450px) {
  .navbar {
    padding: 0 15px;
  }

  .navbar-logo {
    margin: auto;
  }
}
